#Solde,
#Dette {
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
}
#Solde.rotation,
#Dette.rotation {
  transform: rotateY(90deg);
}

div.card:hover {
  translate: 0 -2px;
  box-shadow: 1px 1px 6px 1px #05050550;
}
