#header {
  height: fit-content;
}
#ajouter {
  background-color: dodgerblue;
}
.semi-circle {
  height: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#action {
  background-color: azure;
}
.popover-body {
  padding: 2px !important;
}
